*{
    margin: 0px;
    padding: 0px;
    height: 100%;
    
}

nav {
    
    background-image: url('web_resim.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 0;
}

.list {
    background-color: rgba(0,0,0,0.5);
    height: 50px;
    margin-top: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    
    justify-content: right;
    flex-basis: auto;
    flex-wrap: wrap;
    text-align: center;
    
}

.list li {
    
    margin: 15px 15px;
}



.list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.list li a:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    
}

section h1 {
    margin-bottom: 20px;
}

#home {
    background-color: aqua;
    height: 100vh;
}

#about {
    background-color: blueviolet;
    height: auto;
    
}

#projects {
    background-color: brown;
    height: auto;
}

#contact {
    background-color: chartreuse;
    height: auto;
}



.kutu-container-projects {
    display: flex;
    justify-content: flex-start; /* Anasayfa kutularını sola hizala */
    flex-wrap: wrap;
    margin-top: 20px;
}

.kutu-container-about {
    display: flex;
    justify-content: flex-start; /* Hakkımızda kutularını ortala */
    flex-wrap: wrap;
    margin-top: 20px;
}



.kutu-projects {
    /* position: absolute; */
    width: 200px;
    height: 300px;
    background-color: #888;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 8px rgba(0,0,0,0.6);
   
    transition: transform 0.3s ease;
}

.kutu-about {
    position: relative;
    width: 220px;
    height: 320px;
    background-color: #888;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 8px rgba(0,0,0,0.6);
    transition: transform 0.3s ease;
}
.kutu-about h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    
    
}

/* .kutu:nth-child(1) {
    top: -600px;
    left: 50px;
}
.kutu:nth-child(2) {
    top: -600px;
    left: 350px;
}
.kutu:nth-child(3) {
    top: -600px;
    left: 650px;
}
.kutu:nth-child(4) {
    top: -600px;
    left: 950px;
} */

.kutu-projects:hover {
    transform: scale(1.3);
}

.kutu-about:hover {
    transform: scale(1.2);
}

.kutu-container-projects img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    
}

.kutu-container-about img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    padding-top: 60px;
}



